.expandable-text {
	max-height: 100px;
	overflow: hidden;
	position: relative;
	text-align: left;
	white-space: pre-line;

	&.is-expandable {
		cursor: pointer;

		&::before {
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, #fff 95%);
			content: "";
			height: 100%;
			position: absolute;
			width: 100%;
		}
	}

	&.is-expanded {
		max-height: none;
	}

	.review > & {
		margin: 20px 30px;
	}
}
